/* ================================= 
  Flexbox
==================================== */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-1,
.item-2 {
  margin-right: auto;
}